hr {text-align: center; width: 100%; border: 1px dashed  rgb(0, 0, 250);  }
h1{color: red; padding: 60px;}
p{color: orange; font-size: 50px;}
ol { list-style-type: upper-roman }
ul{list-style-image: url(https://us.123rf.com/450wm/elenaphotos21/elenaphotos211402/elenaphotos21140200055/25850583-l%C3%ADmite-de-velocidad-en-blanco-c%C3%ADrculo-rojo-en-el-fondo-blanco.jpg)}